/*ion-row {
    ion-col {
        ion-icon {
            font-size: 2rem;
            color: gray;
            cursor: pointer;
        }
        ion-icon.selected {
            color: gold;
        }
    }
}*/

.star-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-filled {
    color: gold;
}


/*ion-label.score {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}*/


/*.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container ion-row {
    justify-content: center;
}

ion-label.score {
    font-size: 3rem;
    margin-top: 10px;
    text-align: center;
}

ion-title.title {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}

.comment {
    margin-top: 20px;
    width: 80%;
}*/

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons ion-button {
    margin: 0 5px;
}

.modal-personalizado {
    --height: 50vh;
    width: auto !important;
    max-width: 90%;
    --top: 25vh;
    --left: 25%;
    --background: #fff;
    --border-radius: 8px;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

ion-range {
    --bar-background: #ccc;
    --bar-background-active: linear-gradient(to right, red, black);
    --bar-border-radius: 50;
    --bar-height: 10px;
    --height: 30px;
    --knob-background: #f4f4f4;
    --knob-border-radius: 50%;
    --knob-size: 20px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-text {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-subtext {
    color: red;
    margin-bottom: 10px;
}

.red-text {
    color: red;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

ion-textarea {
    margin-top: 20px;
}

.mi-textarea-personalizado {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    /* Agrega más estilos según tus necesidades */
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
    --color: #ddd;
    --color-checked: #6815ec;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    size: 18px;
    font-weight: bold;
    color: black;
}
