<!--<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Fin Servicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-label>Tu calificación nos interesa mucho</ion-label>
    <ion-row>
      <ion-col *ngFor="let star of stars" (mouseenter)="highlightStar(star)" (mouseleave)="resetStars()"
        (click)="selectStar(star)">
        <ion-icon name="star" [ngClass]="{'selected': star <= selectedStar}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-label class="score">{{ selectedStar }} de 5</ion-label>
    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-textarea [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <div class="buttons">
      <ion-button shape="round" color="danger" (click)="cerrar()">Cancelar</ion-button>

      <ion-button shape="round" (click)="confirm()" [disabled]="!message">Ok</ion-button>
    </div>
  </div>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <h2 slot="start">!CALIFICACIÓN¡</h2>
  </ion-item>

  <ion-item lines="none" text-color="danger">
    CALIFICA AL CLIENTE
  </ion-item>

  <ion-item>
    <ion-range min="0" max="5" step="0.1" [(ngModel)]="sliderValue"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>{{ rating }}</ion-label>
  </ion-item>

  <div *ngFor="let star of stars">
      <ion-icon name="star"></ion-icon>
    </div>
  <ion-row>
    <ion-col *ngFor="let star of getStars()" class="star-col">
      <ion-icon name="star" [ngClass]="{'star-filled': star}"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-textarea rows="4" [(ngModel)]="message" placeholder="Escribe un mensaje (opcional)"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
      <ion-button (click)="confirm()">Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-content>
  <ion-grid class="form-grid">
    <ion-row>
      <ion-col>
         Slider
        <ion-item>
          <ion-range [(ngModel)]="rating" min="0" max="5" step="0.1"></ion-range>

        </ion-item>
        <ion-item>
          <ion-label>{{rating}}</ion-label>
        </ion-item>

        <-- Estrellas
        <ion-row>
          <ion-col *ngFor="let star of getStars()" class="star-col">
            <ion-icon name="star" [ngClass]="{'star-filled': star}"></ion-icon>
          </ion-col>
        </ion-row>
        Textarea del mensaje ->
        <ion-item>
          <ion-textarea [(ngModel)]="message" placeholder="Escribe tu mensaje"></ion-textarea>
        </ion-item>

        <-- Botones ->
        <ion-row>
          <ion-col>
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="confirm()">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->
<!--<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="cerrar()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="modal-container">
        <div class="modal-text">!CALIFICACION¡</div>
        <div class="modal-subtext red-text">CALIFICA AL CLIENTE</div>
    </div>
    <ion-item>
        <ion-range min="0" max="5" step="0.1" [(ngModel)]="rating"></ion-range>
    </ion-item>
    <ion-item>
        <ion-label class="score">{{ rating }}</ion-label>
    </ion-item>

    <ion-row>
        <ion-col *ngFor="let star of getStars()" class="star-col">
            <ion-icon name="star" [ngClass]="{'star-filled': star}"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-item>
        <ion-label position="stacked">Mensaje Opcional:</ion-label>
        <ion-textarea class="mi-textarea-personalizado" [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <div class="buttons">
        <ion-button shape="round" color="success" (click)="confirm()">ACEPTAR</ion-button>
        <ion-button shape="round" color="danger" (click)="cancel()">CANCELAR</ion-button>
    </div>
</ion-content>

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="modal-container">
        <div class="modal-text">¿DESEA FINALIZAR?</div>
        <div class="modal-subtext red-text">ESTAS FINALIZANDO EL SERVICIO</div>
        <div class="modal-subtext red-text">ANTES DE CULMINARLO</div>
        <ion-textarea rows="4" class="mi-textarea-personalizado"></ion-textarea>
        <div class="buttons">
            <ion-button shape="round" color="success" (click)="confirm()">ACEPTAR</ion-button>
            <ion-button shape="round" color="danger" (click)="cerrar()">CANCELAR</ion-button>
        </div>
    </div>
</ion-content>-->

<ion-header>
    <ion-toolbar>
        <ion-title>¿Abortar Servicio?</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cerrar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div class="modal-container">
            <ion-radio-group [(ngModel)]="selectedReason">
                <ion-list-header>
                    <ion-label>Motivos para abortar:</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-radio mode="md" value="No lo encontré"></ion-radio>
                    <ion-label>No lo encontré</ion-label>
                </ion-item>
                <ion-item>
                    <ion-radio mode="md" value="No quiero el servicio"></ion-radio>
                    <ion-label>No quiero el servicio</ion-label>
                </ion-item>
                <ion-item>
                    <ion-radio mode="md" value="No tengo dinero"></ion-radio>
                    <ion-label>No tengo dinero</ion-label>
                </ion-item>
                <ion-item>
                    <ion-radio mode="md" value="Otros"></ion-radio>
                    <ion-label>Otros</ion-label>
                </ion-item>
            </ion-radio-group>
        </div>

        <ion-item>
            <ion-label position="floating">Mensaje (opcional)</ion-label>
            <ion-textarea rows="4" [(ngModel)]="message" class="mi-textarea-personalizado"></ion-textarea>
        </ion-item>
    </ion-list>
    <div class="buttons">
        <ion-button shape="round" color="success" (click)="confirm()">ACEPTAR</ion-button>
        <ion-button shape="round" color="danger" (click)="cancel()">CANCELAR</ion-button>
    </div>
</ion-content>
