.datos2{
    margin: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 2px ;
    margin-top: 35%;
    justify-items:center;
    justify-content: space-between;

    .iconos{
        display: flex;
        text-align: center;
        margin-left: 32%;
        margin-top: 45%;
        width: 35%;
        justify-content: space-between;

        ion-icon{
            color:#4A7EDD;
        }

    }

    .detalles{
        margin-top: 15%;
        margin-left: 10%;

        .fijo{
            font-weight: bold;
        }
    }
}

.front {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(180, 180, 172, 0.621);
}




.tope span {
    width: 100%;
    position: absolute;
    background-color: #bf1a24;
    height: 26px;
    top: 62px;
    z-index: 1;
}

.logosepro ion-img {
    position: absolute;
    top: 18px;
    left: auto;
    z-index: 2;

}

div.logosepro {
    display: flex;
    justify-content: center;
}

.retro {
    display: block;
    margin-left: 20px;
    margin-top: 20%;
//    width: 40%;
//    height: 40%;
//    left: 50%;
//    right: 20%;
    ion-img{
        width: 40px; 
        height: 40px;
    }
}

ion-chip{
    width:16rem;
    height: auto;
    align-self: center;
    justify-content: center;

}

ion-menu-button {
    margin-left: 20px;
    margin-top: 15px;
    min-width: 50px;

    ion-img {
        padding: 2px;
        width: 60px;
        opacity: 0.6;
    }
}

.map-icon{
    width: 20%;
    margin-bottom: 10px;
}

span.circle-grey {
    position:absolute;
    width:5rem;
    height:5rem;
    border-radius: 50%;
    margin:auto;
    top: 30%; left: 0; bottom: 10; right: 0;
}


.botones ion-button{
    text-align:center;
    width: 10rem;
    height: 2.3rem;
    border-radius: 60px ;
    margin-right: 5%;;
    justify-content: space-between;
  }

.botones{
    margin-left: 5%;
    display: flex;
}

.menu-contenedor{
    position: absolute;
}