.barramenu .image-container{
    // display: flex;
    display: grid;
   grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual tamaño */
   gap: 20%; /* Espacio entre las imágenes */
     width: 100%;
     position: absolute;
     background-color: #bf1a24;
     height: 10%;
     bottom: 0;
     left: 0;
     z-index: 3;
   }
   .image-container ion-image{
     width: 100%;/* Ajustar el tamaño de la imagen al 100% del contenedor */
     object-fit: cover;
 }
 
  
.buttoncard {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-weight: bolder;
  }

.cardservicio{
    background-color: white;
    width: 100%;
}

.cardtool-title{
    background-color: white;
}

.cardtool ion-text.ion-text-start {
    display: flex;
  //  justify-content: flex-start;
    justify-content: center;
    font-weight: bolder;
   
  }

.cardtool ion-text.ion-text-end {
    display: flex;
    justify-content: center; 
   // justify-content: flex-end;
    font-weight: bolder;
  }

 .precio-text {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: #bf1a24;
    margin-top: 10px;
    
   
}
.card-content{
    min-height: 80px;
    max-height: 80px;
    .verdetalles{
    /* display: flex; */
    /* justify-content: flex-end; */
    color: #3887bd;
    font-weight: bold;
    /* margin-top: 30px; */
    position: absolute;
    bottom: 2px;
    right: 15px;
    font-size: 13px;
    }
}


ion-content {
   // --ion-background-color:rgba(180, 180, 172, 0.621);
    font-family: hp556;
}

.ion-page{
   // background-color: rgba(180, 180, 172, 0.621);
}

.img-flecha{
    padding: 2px;
    width: 60px;
}

.front {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
   // background-color: rgba(180, 180, 172, 0.621);
}

hr {
    height: 5px;
    width: 100%;
    background-color: #f80f00;
    color: #f80f00;
    margin-bottom: 0px;
  }

  ion-card-title{
    display: flex;
    justify-content: center;
  }

.back {
   // position: absolute;
   // text-align: buttom;
   // z-index: 1;
   // bottom: 0;
    position: fixed;
    z-index: 1;
    opacity: 0.3;
    min-width: 80%;
    bottom: 0;

}

.titulo {
    text-align: center;
    //position:relative;
    //margin-top: 20%;
}

.title {
    text-align: center;
    //position:relative;
    margin-top: 20%;
}

.title ion-label {
    color: #bf1a24;
    font-size: 170%;
    font-family: BebasBold;
}

.corona {
    position: absolute;
    margin: auto 0;
    left: 50%;
    right: 30%;
    margin-top: 5%;
    background-position: center center;
    text-align: center;
}

.circle {
    display: block;
    position: static;
}

.circle ion-label {
    font-size: 70%;
    margin: 0;
}

.datos {
    display: flex;
    flex-direction: column;
}

.detalle {
    margin-right: 25%;
    margin-left: 25%;
}

.detalle button {
    text-align: center;
    font-size: 0.5em;
    margin-left: 0rem;
    display: block;
    margin: auto;
    width: 100%;
    height: 70%;
    border-radius: 60px;
    background-color: #3887bd;
    color: #ffffff;
}

.logo {
    display: block;
    margin-left: 20px;
    margin-top: 20%;
//    width: 40%;
//    height: 40%;
//    left: 50%;
//    right: 20%;
    ion-img{
        width: 40px; 
        height: 40px;
    }
}

ion-menu-button {
    margin-left: 20px;
    margin-top: 15px;
    min-width: 50px;

    ion-img {
        padding: 2px;
        width: 60px;
        opacity: 0.6;
    }
}

menu-contenedor{
   // background-color: rgba(180, 180, 172, 0.621);
}

.tope span {
    width: 100%;
    position: absolute;
    background-color: #bf1a24;
    height: 26px;
    top: 62px;
    z-index: 1;
}

.logosepro ion-img {
    position: absolute;
    top: 18px;
    left: auto;
    z-index: 2;

}

div.logosepro {
    display: flex;
    justify-content: center;
}

.datos2 {
    margin: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: 2px;
    margin-top: 30%;
    justify-items: center;
    justify-content: space-between;
    ion-label {
        font-family: hp556;
        font-size: small;
        font-weight: bold;
    }
    span {
        font-family: hp556;
        font-size: small;
        font-weight: bold;
    }
    ion-input {
        font-family: hp556;
        font-size: small;
        font-weight: bold;
    }
}

.datos2 ion-chip {
    width: 95%;
    margin-bottom: 5%;
}

.datos2 .fijo {
    font-weight: bold;
    margin-top: 50%;
}
