<ion-header>

</ion-header>

<ion-content>
  <div class="front">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-img src="assets/img/menuHamburguesa.png"></ion-img>
        </ion-menu-button>
      </ion-buttons>
      <div class="tope">
        <span>
        </span>
        <div class="logosepro">
          <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
        </div>
      </div>
    </div>

    <div class="title">
      <ion-label class="center">SERVICIO EN CURSO</ion-label>
    </div>
    <div class="titulo">
      <h1>CUSTODIA ARMADA</h1>
      <div class="logo">
        <ion-img style="width: 100px; height: 100px;" src="assets/img/custodialogo.png"></ion-img>
      </div>
    </div>
    <div class="datos2">
      <ion-list>
        <ion-label class="fijo">Encargado del Servicio</ion-label>
        <ion-item>
          <ion-label class="ion-text-wrap">{{datosServicio.employee_first_name}}
            {{datosServicio.employee_last_name}}</ion-label>
        </ion-item>
        <ion-label class="fijo"> Nombre del cliente </ion-label>
        <ion-item>
          <ion-label class="ion-text-wrap"> {{datosServicio.client_first_name}}
            {{datosServicio.client_last_name}}</ion-label>
        </ion-item>
        <ion-label class="fijo">Contacto directo del cliente </ion-label>
        <ion-item>
          <ion-label>{{datosServicio.client_phone_number}}</ion-label>
        </ion-item>
        <ion-label class="fijo">Direccion del Servicio</ion-label>
        <ion-item>
          <ion-label>Av. las Americas 320{{cedulaur}}</ion-label>
        </ion-item>
        <ion-label class="negrita ">Fecha de inicio:</ion-label>
        <ion-item>
          <ion-label> {{datosServicio.start_date}}</ion-label>
        </ion-item>
        <ion-label class="negrita"> Hora de inicio: </ion-label>
        <ion-item>
          <ion-label> {{datosServicio.start_time}}</ion-label>
        </ion-item>
        <ion-label class="negrita ">Fecha de Finalización: </ion-label>
        <ion-item>
          <ion-label>{{datosServicio.end_date}}</ion-label>
        </ion-item>
        <ion-label class="negrita"> Hora de Finalización: </ion-label>
        <ion-item>
          <ion-label>{{datosServicio.end_time}}</ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
      <ion-button shape="round" (click)="openModal()">Finalizar Servicio</ion-button>
    </div>

























  </div>


  <div class="back">
    <ion-img style="width: 10; height: 10;" src="../../assets/img/aguilarojafondo.png"></ion-img>
  </div>

</ion-content>