<div class="ion-page">

  
    <div class="front">

      <div>
        <ion-buttons slot="start">
          <ion-menu-button>
            <ion-img style="width: 50px; height: 50px;" src="assets/menuhamburguesarojo.png"></ion-img>
          </ion-menu-button>
        </ion-buttons>
        <div class="tope">
          <span>
          </span>
          <div class="logosepro">
            <ion-img style="width: 180px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
          </div>
        </div>
      </div>





      <div class="logo">
        <ion-img  src="assets/img/flecha-retro.png"></ion-img>
      </div>
      <div class="titulo">
        <h1>SOLICITUDES</h1>
      </div>

      <ion-content class="ion-padding" scroll-y=true>
        <ion-list >
          <ion-item *ngFor="let servicio of serviciosTodos" >
              <ion-card class="cardservicio">
                <ion-card-header class="cardheader">
                  <div class="w-100" style="width: 100%;">
                    <ion-text class="ion-text-start " >{{servicio.start_date}}</ion-text>
                    <ion-text class="ion-text-end" style="float: right;">{{servicio.start_time}}</ion-text>
                  </div>
                  <div class="w-100 justify"   style="width: 100%;">
                    {{servicio.service_name}}
                  </div>
                  <hr>
                </ion-card-header>
                <div>
                  <ion-title class="precio-text">ID: {{servicio.client-dni}}</ion-title>
                </div>
                <ion-card-content class="card-content">
                  <div>
                    <ion-button class="buttoncard" color="success" >Aceptar</ion-button>
                  </div>
                  <div>
                    <ion-text class="verdetalles" [routerDirection]="'root'" [routerLink]="'/detallesservicio'" id="open-modal">VER DETALLES</ion-text> 
                  </div>
                </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
 </div>
  
