
<div class="ion-page">
  <div class="front">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-img style="width: 50px; height: 50px;" src="assets/menuhamburguesarojo.png"></ion-img>
        </ion-menu-button>
      </ion-buttons>
      <div class="tope">
        <span>
        </span>
        <div class="logosepro">
          <ion-img style="width: 220px; height: 120px;" src="assets/img/logosepro.png"></ion-img>
        </div>
      </div>
    </div>
    <div class="logo">
      <ion-img  src="assets/img/flecha-retro.png"></ion-img>
    </div>
<div>    

    <div class="titulo">
      <h1>SERVICIO</h1>
      
    </div>
    <ion-img src="assets/img/marcoconfoto.png"></ion-img>
    <hr>
<div>
  <div>
    <h1>Felipe Salinas Arreaga</h1>
  </div>
  <hr>
  <h2>Chofer</h2>
</div>

<div class="detallesguardia">
      <div>
        <h1>NOMBRE CELULAR </h1>
      </div>
      <hr>
      <h2>ANCON1</h2>


      <div>
        <div>DATOS DEL SERVICIO</div>
        <hr>
        <ion-button color="successful"> Total $100</ion-button>
        <h2>GUARDIA</h2>
        <h3>Fecha: 22/11/2023</h3>
        <h3>Hora: 19:00PM - 21:00PM </h3>
        <h3>Cliente: Pedro Pérez</h3>
        <h3>Lugar de Partida: Ceibos</h3>
        <h3>Accesorios: Pistola</h3>
        <h3>Ver ubicación</h3>

        <div>
          <ion-button color="success" >INICIAR</ion-button>
          <ion-button>FINALIZAR</ion-button>
        </div>
      </div>
</div>


    